# -*- mode: gitignore; -*-
# See http://help.github.com/ignore-files/ for more about ignoring files.

###############################################################################
# Emacs
# https://github.com/github/gitignore/blob/master/Global/Emacs.gitignore
###############################################################################

*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

###############################################################################
# WebUI
# https://github.com/github/gitignore/blob/master/Node.gitignore
###############################################################################

# NPM Dependency directories
node_modules/

# Build output
dist/

# Output of 'npm pack'
*.tgz

# Shell History
.history/

###############################################################################
# Angular CLI generated .gitignore
###############################################################################

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
ksh.code-workspace

# Vi
*.swp

.env
