<div style="height: 100%; background: white;">
  <nhd-ngcore-flex-splitter-horizontal>
    <div class="nhd-panel-center-text" style="flex: 1 1 auto; background: rgba(0, 255, 0, 0.3);">
      <h1>MAIN VIEWPORT</h1>
    </div>

    <nhd-ngcore-flex-splitter-seperator [paneDirection]="'right'" [paneOpen]="false">
    </nhd-ngcore-flex-splitter-seperator>

    <div class="nhd-panel-center-text" style="flex: 1 1 auto; background: rgba(0, 255, 0, 0.3);">
      <h1>SEPERATOR VIEWPORT</h1>
    </div>
  </nhd-ngcore-flex-splitter-horizontal>
</div>
