<div class="mat-app-background" style="height: 100%;">
  <nhd-ngcore-flex-splitter-horizontal>
    <div class="nhd-panel-center-text" style="flex: 1 1 auto; height: 100%;">
      <nhd-ngcommon-scichart-basic-chart style="height: 100%; width: 100%;">
      </nhd-ngcommon-scichart-basic-chart>
    </div>

    <nhd-ngcore-flex-splitter-seperator [paneDirection]="'right'" [paneOpen]="false">
    </nhd-ngcore-flex-splitter-seperator>

    <div class="nhd-panel-center-text" style="flex: 0 0 auto;">
      <nhd-ngcommon-mat-theme-input style="padding: 2vw;">
      </nhd-ngcommon-mat-theme-input>
    </div>
  </nhd-ngcore-flex-splitter-horizontal>
</div>
