<div class="mat-app-background" style="height: 100%;">
  <nhd-ngcore-flex-splitter-horizontal>
    <div class="nhd-panel-center-text" style="flex: 1 1 auto; height: 100%;">
      <app-wireframe>
      </app-wireframe>
    </div>

    <nhd-ngcore-flex-splitter-seperator [paneDirection]="'right'" [paneOpen]="false">
    </nhd-ngcore-flex-splitter-seperator>

    <div class="nhd-panel-center-text" style="flex: 0 0 auto; flex-direction: column;">
      <nhd-ngcommon-mat-theme-input style="padding: 2vw;">
      </nhd-ngcommon-mat-theme-input>

      <oasis-panel-wireframe-settings style="padding: 2vw;">
      </oasis-panel-wireframe-settings>
    </div>
  </nhd-ngcore-flex-splitter-horizontal>
</div>
