<div class="screen-grid" oasis-wireframe1-data="screen-grid">
  <div class="grid-row grid-row-1" oasis-wireframe2-data="grid-row-1">
    <div class="grid-column grid-column-1a" oasis-wireframe3-data="grid-column-1a">
      <div class="arrow-keys grid-panel" oasis-wireframe4-data="arrow-keys">
      </div>

      <div class="montage grid-panel" oasis-wireframe4-data="montage">
      </div>

      <div class="remove-channels grid-panel" oasis-wireframe4-data="remove-channels">
      </div>

      <div class="add-channels grid-panel" oasis-wireframe4-data="add-channels">
      </div>
    </div>

    <div class="grid-column grid-column-1b" oasis-wireframe3-data="grid-column-1b">
      <div class="gain-entry grid-panel" oasis-wireframe4-data="gain-entry">
      </div>

      <div class="time-base-entry grid-panel" oasis-wireframe4-data="time-base-entry">
      </div>

      <div class="low-pass-filter grid-panel" oasis-wireframe4-data="low-pass-filter">
      </div>

      <div class="high-pass-filter grid-panel" oasis-wireframe4-data="high-pass-filter">
      </div>
    </div>

    <div class="grid-column grid-column-1c" oasis-wireframe3-data="grid-column-1c">
      <div class="record-display grid-panel" oasis-wireframe4-data="record-display">
      </div>

      <div class="display-antialiasing grid-panel" oasis-wireframe4-data="display-antialiasing">
      </div>

      <div class="notch-filter grid-panel" oasis-wireframe4-data="notch-filter">
      </div>
    </div>

    <div class="grid-column grid-column-1d" oasis-wireframe3-data="grid-column-1d">
      <div class="study-information grid-panel" oasis-wireframe4-data="study-information">
      </div>
    </div>

    <div class="grid-column grid-column-1e" oasis-wireframe3-data="grid-column-1e">
      <div class="video-thumbnail grid-panel" oasis-wireframe4-data="video-thumbnail">
      </div>

      <div class="video-controls grid-panel" oasis-wireframe4-data="video-controls">
      </div>
    </div>
  </div>

  <div class="grid-row grid-row-2" oasis-wireframe2-data="grid-row-2">
    <div class="grid-column grid-column-2a" oasis-wireframe3-data="grid-column-2a">
      <div class="channel-labels grid-panel" oasis-wireframe4-data="channel-labels">
      </div>
    </div>

    <div class="grid-column grid-column-2b" oasis-wireframe3-data="grid-column-2b">
      <div class="channel-traces grid-panel" oasis-wireframe4-data="channel-traces">
	<nhd-ngcommon-scichart-stacked-line-chart #ComponentStackedLineChart>
	</nhd-ngcommon-scichart-stacked-line-chart>
      </div>
    </div>
  </div>

  <div class="grid-row grid-row-3" oasis-wireframe2-data="grid-row-3">
    <div class="grid-column grid-column-3a" oasis-wireframe3-data="grid-column-3a">
      <div class="channel-filters grid-panel" oasis-wireframe4-data="channel-filters">
      </div>
    </div>

    <div class="grid-column grid-column-3b" oasis-wireframe3-data="grid-column-3b">
      <div class="page-timebase grid-panel" oasis-wireframe4-data="page-timebase">
	<nhd-ngcommon-scichart-overview-chart [onInit$]="ComponentStackedLineChart.onInit$" [scichartSurface]="ComponentStackedLineChart.scichartSurface">
	</nhd-ngcommon-scichart-overview-chart>
      </div>

      <div class="session-map grid-panel" oasis-wireframe4-data="session-map">
      </div>
    </div>
  </div>
</div>
